@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}


#index_bg{
    object-fit: cover;
    background-image: url(../images/bg.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.navbar{
    --bs-navbar-padding-y: 1rem;
}

.left-box{
    text-align: left;
}

.left-box .text{
    font-family: 'Pretendard Variable';
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 50px;
    line-height: 80px;
}