{% extends "layout.html" %} {% block body %}

<main class="container content d-flex flex-column align-items-center justify-content-center">
  <div class="shadow-sm bg-body-tertiary rounded" style="padding: 80px 100px">
    <p class="text-center fw-bold fs-1 mb-5">Login</p>
    <form class="needs-validation" action="/login" method="post" novalidate>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" required />
        <div class="invalid-feedback">이메일을 입력해주세요</div>
      </div>
      <div class="mb-3" style="padding-bottom: 18px">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" name="password" required id="password" />
        <div class="invalid-feedback">비밀번호를 입력해주세요</div>
      </div>
      <div class="d-grid">
        <button class="btn btn-dark text-white" type="submit">Login</button>
      </div>
    </form>
    <p class="text-body-dark text-center mt-2">
      <a href="/email-find" class="text-reset text-decoration-none fw-bold">아이디/비밀번호를 잊어버리셨나요?</a>
    </p>
    <p class="text-body-dark text-center">
      <a href="/register" class="text-reset text-decoration-none fw-bold fs-5">회원가입하기</a>
    </p>
  </div>
</main>
{% endblock %}
