{% extends "layout.html" %} {% block body %}
<main class="container" style="width: 80%">
  <div class="p-5">
    <p class="fw-bold fs-1">나의 식단</p>
    <p class="fs-5">오늘의 식사입니다.</p>
    <form action="/main" method="post">
      <div class="input-group">
        <input name="date" required value="{{ date.strftime("%Y-%m-%d") }}"
        type="date" class="form-control bg-light-subtle" />
        <button class="btn btn-dark text-white" type="submit">확인</button>
      </div>
    </form>
  </div>
</main>
<main class="container" style="width: 80%">
  <div class="p-5 pt-0">
    <div class="border border-3 border-dark rounded p-5 bg-light-subtle">
      <p class="fs-5">{{ date.strftime("%Y-%m-%d") }}</p>
      <div class="mb-3" style="border: 1px solid black"></div>
      <div class="row">
        <div class="col">
          <p class="text-center fw-bold fs-4">AI 추천 식단</p>
        </div>
      </div>
      <div class="mb-3 p-4 bg-body-secondary">
        {% if user_meal_data %} {% for meal_type in ['breakfast', 'lunch',
        'dinner', 'snack'] %} {% if user_meal_data.get(meal_type) %}
        <p class="fw-bold fs-3">{{ meal_type }}</p>
        {% for meal in user_meal_data[meal_type] %}
        <p class="fs-4">{{ meal }}</p>
        {% endfor %} {% endif %} {% endfor %} {% else %}
        <div class="col text-center">
          <p class="text-body-dark text-center">
            식단이 없습니다. 식단을 생성해주세요.
          </p>
          <a href="/make-meal-plan" class="btn btn-dark text-white">
            생성하러 가기
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
