{% extends "layout.html" %} {% block body %}
<main class="container" style="width: 80%">
  <div class="p-5">
    <p class="fw-bold fs-1">나의 식단</p>
    <p class="fs-5">오늘의 식사입니다.</p>
    <form action="/main" method="post">
      <div class="input-group">
        <input name="date" required value="{{ date }}" type="date" class="form-control bg-light-subtle" />
        <button class="btn btn-dark text-white" type="submit">확인</button>
      </div>
    </form>
  </div>
</main>

<main class="container" style="width: 80%">
  <div class="p-5 pt-0">
    <div class="shadow-sm bg-body-tertiary rounded" style="padding: 80px 100px">
      <div class="row">
        <div class="col">
          <p class="text-center fw-bold fs-4">AI 추천 식단</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
        </div>
      </div>
      <div class="row">
        <p class="fs-5 col">{{ date.strftime("%Y-%m-%d") }}</p>
        <div class="col text-end">
          {% if user_meal_data %}
          <a href="/edit-meal" class="btn btn-dark text-white">수정하기</a>
          {% endif %}
        </div>
      </div>
      <div class="mb-4" style="border: 1px solid black"></div>
      {% if user_meal_data %}
      <div id="carousel" class="carousel slide carousel-dark">
        <div class="carousel-inner">
          {% for meal_type in ['breakfast', 'lunch', 'dinner', 'snack'] if user_meal_data.get(meal_type) %}
          <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
            <p class="text-center fw-bold fs-3">{{ meal_type }}</p>
            {% for meal in user_meal_data[meal_type] %} {% for food_item, meal_id in meal.items() %}
            <p class="text-center fs-4">{{ food_item }}</p>
            {% endfor %} {% endfor %}
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      {% else %}
      <div class="carousel-item active">
        <div class="col text-center">
          <p class="text-body-dark text-center">식단이 없습니다. 식단을 생성해주세요.</p>
          <a href="/make-meal-plan" class="btn btn-dark text-white"> 생성하러 가기 </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
