{% extends "layout.html" %} {% block body %}
<main class="container" style="width: 80%">
  <div class="p-5">
    <p class="fw-bold fs-1">식단 생성하기</p>
  </div>
</main>
<main class="container" style="width: 80%">
  <div class="p-5 pt-0">
    <div class="border border-3 border-dark rounded p-5 bg-light-subtle">
      <div class="row">
        <div class="col">
          <p class="fw-bold fs-4">{{ user_profile.users_email }}님의 스탯</p>
        </div>
        <div class="col text-end">
          <a href="/edit-user-profile" class="btn btn-dark text-white">Edit</a>
        </div>
      </div>
      <div class="mb-3 p-4 bg-body-secondary">
        <p class="fs-4">키: {{ user_profile.height }}</p>
        <p class="fs-4">무게: {{ user_profile.weight }}</p>
        <p class="fs-4">성별: {{ user_profile.sex }}</p>
        <p class="fs-4">신념: {{ user_profile.dietary_belief }}</p>
        <p class="fs-4">
          주당 운동 횟수: {{ user_profile.exercise_frequency }}
        </p>
      </div>
      <div class="row">
        <div class="col text-center">
          <p class="text-body-dark text-center">
            위의 정보를 기반으로 식단을 생성합니다
          </p>
          <form action="/make-meal-plan" method="post">
            <button class="btn btn-dark text-white" type="submit">
              식단 생성하기
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
