{% extends "layout.html" %} {% block body %}
<main class="container content d-flex align-items-center justify-content-center">
  <div class="shadow-sm bg-body-tertiary rounded" style="padding: 80px 100px">
    <p class="text-center fw-bold fs-4">Let us know your preference</p>
    <form action="/write-meal-preference" method="post">
      <div class="mb-3">
        <label class="form-label" for="food_item">무엇을 먹는걸 선호하나요</label>
        <input class="form-control" type="food_item" name="food_item" required id="food_item" placeholder="ex) 면요리 일주일에 3번이상, 가지를 싫어합니다." />
      </div>
      <div class="d-grid">
        <button class="btn btn-dark text-white" type="submit">등록하기</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
